* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(45deg, #190361, #bb00ff);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;

  font-size: 1.6rem;
  display: grid;
  place-content: center;
  height: 100vh;
}

.hide {
  display: none;
}

main {
  background: white;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  padding: 4.8rem 6.4rem 6.4rem;
  width: min(42.8rem, 90%);
  margin: 0 auto;
  text-align: center;
}

/* screen1 */

h1 {
  font-family: "Montserrat", sans-serif;
  color: #34355b;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
  margin-bottom: 1.4rem;
}

p {
  font-family: "DM Sans", sans-serif;
  color: #34355b;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 2.6rem;
}

.screen1 img {
  cursor: pointer;
}

/* screen2 */

h2 {
  font-family: "Montserrat", sans-serif;
  color: #34355b;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
  margin-bottom: 1.7rem;
}

.screen2 p {
  background: #e4edf1;
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0 rgba(85, 85, 85, 0.5);
  font-family: "Dancing Script", sans-serif;
  color: black;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.9rem;
  margin-bottom: 6rem;
}

.screen2 img {
  margin-bottom: 6rem;
}

.screen2 button {
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  border: none;
  background: #ff9500;
  color: white;
  padding: 1.6rem;
  border-radius: 0.4rem;
}

.screen1 img:hover {
  -webkit-animation: vibrate-2 0.3s linear infinite both;
  animation: vibrate-2 0.3s linear infinite both;
}

.screen2 p {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: text-pop-up-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* Animation */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
